.card {
  width: 282px;
  margin-top: 40px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coverImage {
  width: 100%;
}

.card h2 {
  padding: 0 1em;
}

.favorite {
    width: 24px;
    height: 24px;
    margin: 0 1em;
}

