.card {
  width: 282px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 16px;
  text-align: center;
}

.coverImage {
  width: 100%;
}

.card h2 {
  font-size: 22px;
}

.favorite {
  width: 24px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  cursor: pointer;
}