@font-face {
  font-family: "Monteserrat-Regular";
  src: local("Montserrat-Regular"),
    url("@/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat-Medium"),
    url("@/assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
    url("@/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}


body {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}